* {
    font-family: 'Roboto', sans-serif;
}

hr {
    display: flex;
    flex-wrap: wrap-reverse;
    border-width: 1px;
    width: 28vw;
    color: #DDDDDD;
}

p {
    margin-left: 1vw;
    margin-right: 2vw;
    color: #4A4A4A;
    padding-bottom: 40px;
    font-weight: 300;
}

.container {
    display: flex;
    width: 100%;
    flex-basis: 75%;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    align-items: stretch;
    width: 30vw;
    height: 150vh;
    padding-top: 10px;
    border-right: 1px solid #C0C0C0;
    margin: 2vh;
    background-color: #ECECEC;
}

h1 {
    margin: 0vw 9vw 0vw 1vw;
    font-size: 2.7rem;
    color: #4A4A4A;
    padding: 0;
}

.score {
    margin-left: 1vw;
    color: #939393;
    padding: 0;
}

.list {
    margin-left: 1vw;
    color: #939393;
    padding-bottom: 10px;
}

.wordsList {
    color: #4A4A4A;;
    font-size: 2.3rem;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    padding-bottom: 50px;
    padding-left: 10px;
    margin: 0;
    border: 1px solid #ECECEC;

}

.words {
    color: #EAA845;
    font-size: 2.6rem;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    margin: 0;
    border: 1px solid #FFFFFF;
}

.points {
    background-color: #EAA845;
    color: #FAFAFA;
    font-size: 2.6rem;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    margin: 0.5vh;
    width: 15%;
    padding: 5px;
    border-radius: 6px;
}

#number {
    color: #EAA845;
    font-size: 2.6rem;
    font-weight: 600;
    margin: 0.5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
}

.right-container {
    display: flex;
    flex-shrink: 3;
    width: auto;
    height: 70vh;
    padding-top: 2%;
    padding-left: 10%;
    flex-wrap: nowrap;
}

.btn-group {
    margin: 40px 0 0 0;
}

.submit {
    font-size: 1.1rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #C7E69A;
    height: 6vh;
    width: 12vh;
    border-radius: 4px;
    display: flex;
    align-content: space-between;
    justify-content: center;
    margin-bottom: 10px;
    appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
}

.clear {
    font-size: 1.1rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #F3AEB5;
    height: 6vh;
    width: 10vh;
    border-radius: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
}


.reset {
    font-size: 1.1rem;
    font-weight: 700;
    background-color: #4A4A4A;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    height: 5.6vh;
    width: 11.5vh;
    margin-top: 13px;
    margin-left: 274px;
    border-radius: 4px;
    border: none;
    box-shadow: none;
}

.grid {
    flex-direction: row;
    flex-shrink: 2;
    margin: 160px 5px 20px 0;
    width: 60vw;
    max-width: 50vh;
    height: 60vw;
    max-height: 40vh;
    font-size: 3.5rem;
    font-weight: 700;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    background: #999999;
    margin: 0.5vh;
    border: orange 1px solid;
    color: white;
    flex: 1 10 auto;
    position: relative;
}

.box:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}

.box .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
