html {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.container {
    display: flex;
    width: 100%;
    flex-basis: 75%;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: auto;
    align-items: stretch;
    width: 30vw;
    height: 100vh;
    padding-top: 10px;
    border-right: 1px solid #C0C0C0;
    margin: 2vh;
    background-color: #ECECEC;
}

h1 {
    margin: 0vw 9vw 0vw 1vw;
    font-size: 2.7rem;
    color: #4A4A4A;
    padding: 0;
    flex-shrink: 0;
}

p {
    margin-left: 1vw;
    margin-right: 2vw;
    color: #4A4A4A;
    padding-bottom: 40px;
    font-weight: 300;
}

.score {
    margin-left: 1vw;
    color: #939393;
    height: 8vh;
    /*padding-top: 10px;*/
}

.number {
    color: #EAA845;
    font-size: 2rem;
    font-weight: 800;
    height: 5vh;
    margin: 0 1vw 0 1vw;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid #999999;
}

.words {
    margin-left: 1vw;
    color: #939393;
    height: 2vh;
}

.wordsList {
    color: #4A4A4A;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    padding: 0 0 0 12px;
    border: 1px solid #ECECEC;
    margin: 0;
}

.points {
    color: #FAFAFA;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    margin: 0 0 0 84%;
    width: 12%;
    padding: 2px;
}

.githubFork {
    display: flex;
    color: #4A4A4A;
    font-size: 0.8rem;
    margin: 350px 0 0 10px;
}

.right-container {
    display: flex;
    flex-shrink: 2;
    width: auto;
    height: 60vh;
    padding-left: 10%;
    flex-wrap: nowrap;
}

.grid {
    flex-direction: row;
    flex-shrink: 3;
    margin: 90px 5px 15px 0;
    width: 60vw;
    max-width: 50vh;
    height: 60vw;
    max-height: 40vh;
    font-size: 3.5rem;
    font-weight: 700;
}

.displayedWords {
    color: #939393;
    font-size: 2.8rem;
    height: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-top: 40px;
    border: 1px solid #FFFFFF;
}

.displayedWords:after {
    pointer-events: inherit;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    background: #999999;
    margin: 0.5vh;
    border: orange 1px solid;
    color: white;
    flex: 1 10 auto;
    position: relative;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

.box:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}

.box .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset {
    font-size: 1.1rem;
    font-weight: 700;
    background-color: #4A4A4A;
    color: #FFFFFF;
    height: 5.6vh;
    width: 11.5vh;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-top: 18px;
    margin-left: 76%;
    border-radius: 4px;
    border: none;
    box-shadow: none;
}

.btn-group {
    flex-shrink: 0;
    overflow: auto;
}

.submit {
    font-size: 1.1rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #C7E69A;
    height: 5vh;
    width: 11.5vh;
    border-radius: 4px;
    display: flex;
    align-content: space-between;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 10px;
    appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
}

.clear {
    font-size: 1.1rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #F3AEB5;
    height: 5vh;
    width: 10vh;
    border-radius: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
}
